
@model Tournament
@{
    ViewData["Title"] = "Setup Page";
}

<div>
    <h1 class="display-4">@Model.Name</h1>
    <ul class="nav nav-tabs col-md-5">
        <li class="nav-item"><a onclick="viewGroups(@Model.Id)" class="nav-link" data-toggle="tab" href="#groups">Группы</a></li>
        <li class="nav-item"><a onclick="viewPairs(@Model.Id)" class="nav-link" data-toggle="tab" href="#pairs">Пары</a></li>
        <li class="nav-item"><a onclick="viewReferees(@Model.Id)" class="nav-link" data-toggle="tab" href="#referees">Судьи</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#registrators">Организаторы</a></li>
    </ul>


    <div class="tab-content">
        <div id="groups" class="tab-pane">
            <div id="groupsTable">

            </div>
        </div>
        <div id="pairs" class="tab-pane">
            <div id="pairsTable">

            </div>
        </div>
        <div id="referees" class="tab-pane">
            <div id="refereesTable">

            </div>
        </div>
        <div id="registrators" class="tab-pane">
            Здесь будут организаторы
        </div>
    </div>
</div>




