@model Tournament
@{
    ViewData["Title"] = "Run Page";
    ViewData["Login"] = ViewBag.Login;
    ViewData["TName"] = Model.Name;
}

<div id="stepView">

</div>

<script>
    $.get('@Url.Action("GetData", "RunTournament")', { tournId: @Model.Id}, function (content) {
        $("#stepView").html(content);
        });
</script>
